body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

#delete {
  background-color: red;
  color: white;
}

#delete:active {
  transform: scale(1.3);
}

.App-header {
  display: none;
}

h1 {
  font-size: 6rem;
  font-weight: 600;
  margin-bottom: 2rem;
  line-height: 1em;
  color: #ececec;
  text-transform: lowercase;
  text-align: center;
}

.completedStyle {
  font-style: italic;
  color: #595959;
  opacity: 0.4;
  text-decoration: line-through;
}
